{% extends "web/base.html" %}
{% load i18n %}
{% load static %}
{% load form_tags %}
{% block body %}
  <div class="container d-flex justify-content-center my-3">
    <div>
      <h3>{% translate "Sign In" %}</h3>
      <form method="post" class="mt-3">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% render_text_input form.login %}
        {% render_text_input form.password %}
        <input class="btn btn-primary w-100" type="submit" value="{% translate "Sign In" %}">
      </form>}
      {% if LOGIN_BY_CODE_ENABLED %}
      <p class="pg-text-centered pg-text-muted">
        <a class="text-sm muted-link" href="{{ request_login_code_url }}">
          {% translate "Mail me a sign-in code" %}
        </a>
      </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
