{% extends "web/app/app_base.html" %}
{% load i18n %}
{% load static %}
{% block app %}
<div class="container p-6">
    <h1 class="fs-4 fw-bold mb-4">Log Source Details</h1>

    <!-- Log Source Information -->
    <div class="bg-white rounded shadow-sm p-4">
        <h2 class="fs-5 fw-semibold text-dark">{{ log_source.log_name }}</h2>
        <p class="small text-muted"><strong>Service Name:</strong> {{ log_source.service_name }}</p>
        <p class="small text-muted"><strong>Status:</strong> {{ log_source.status }}</p>
        <p class="small text-muted"><strong>Region:</strong> {{ log_source.aws_region|default:"Global" }}</p>
    </div>

    <!-- Log Source Details Section -->
    <div class="mt-4">
        <h3 class="fs-6 fw-medium text-dark">Log Source Details</h3>
        <ul class="list-unstyled mt-2">
            {% for key, value in log_source.log_details.items %}
            <li class="d-flex">
                <strong class="text-dark me-2" style="min-width: 150px;">{{ key }}:</strong>
                <span>
                    {% if value is iterable and value.items %}
                    <!-- Handle Nested Dictionary -->
                    <ul class="list-unstyled ms-3">
                        {% for nested_key, nested_value in value.items %}
                        <li class="d-flex">
                            <strong class="text-dark me-2" style="min-width: 100px;">{{ nested_key }}</strong>: 
                            <span>{{ nested_value }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% elif value is iterable and value|length > 50 %}
                    <pre class="text-break">{{ value }}</pre>
                    {% else %}
                    {{ value }}
                    {% endif %}
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
