{% extends "web/app/app_base.html" %}
{% load i18n %}
{% block app %}
<div class="container p-6">
    <h1 class="fs-4 fw-bold mb-4">Fetch Logs for Account: {{ aws_account.account_id }}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="start_time" class="form-label">Start Time</label>
            <input type="datetime-local" name="start_time" id="start_time" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="end_time" class="form-label">End Time</label>
            <input type="datetime-local" name="end_time" id="end_time" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="resource_ids" class="form-label">Resources</label>
            <select name="resource_ids" id="resource_ids" class="form-select" multiple>
                {% for resource in resources %}
                <option value="{{ resource.id }}">{{ resource.resource_name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Fetch Logs</button>
    </form>
</div>
{% endblock %}
